@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Noto+Sans:wght@500;700;800&display=swap');

.font-col {
    font-family: ui-serif, Georgia, "Times New Roman", Times, serif;
}

.text-emphasis {
    color: #374151;
    font-family: 'Noto Sans', sans-serif;
}

.text-subtle {
    color: #6b7280;
    font-family: 'Noto Sans', sans-serif;
}

.yarsa-logo {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0.9, 0.9, 0.9, 0.0);
}

.yarsa-logo-img {
    width: 100%;
    height: 100%;
}

.card-dimension{
    width: 100%;
    max-width: 700px;
}
